# Deploy to GitHub pages CI/CD script
# for NueJS blog
name: Deploy to GitHub pages

# Trigger when either main branch is updated or from manual runs
# from the Actions tab.
on:
  push:
    branches: [main]
  workflow_dispatch:

# We only give what is required for site deployment and try to avoid
# global write for better security.
permissions:
  contents: read
  pages: write
  id-token: write

# This is to enture that concurrent runs will not overlap and cause
# race conditions.
concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest

    # This simply checks out the repository content and setup the
    # Bun runtime. Then, install Nuekit globally via Bun CLI.
    #
    # After that, build the site. The output is defaulted to `./dist`
    # directory. Now, deploy `./.dist` contents to the `pages` branch.
    # If the branch doesn't exist, it will be created automatically.
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v5
        with:
          fetch-depth: 0 # Just to ensure full history for build metadata

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install Dependencies
        run: bun install

      - name: Build site
        run: bunx nue build

      # Upload built site as an artifact for GitHub Pages deployment.
      # GitHub will handle the publishing to the internal `github-pages` environment.
      - name: Upload Build Artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./.dist

  deploy:
    # The deploy job publishes the uploaded site artifact to GitHub pages.
    # Using this official action avoids overwriting domain and SSL settings.
    #
    # It is generally better than `peaceiris/actions-gh-pages` when you want this
    # kind of control for deployments.
    #
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
