# Deploy to GitHub pages CI/CD script
# for NueJS blog
name: Deploy to GitHub pages

# Trigger when either main branch is updated or from manual runs
# from the Actions tab.
on:
  push:
    branches: [main]
  workflow_dispatch:

# Give write permission to allow pushing to the `pages branch.
permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    # This simply checks out the repository content and setup the
    # Bun runtime. Then, install Nuekit globally via Bun CLI.
    #
    # After that, build the site. The output is defaulted to `./dist`
    # directory. Now, deploy `./dist` contents to the `pages` branch.
    # If the branch doesn't exist, it will be created automatically.
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Update the runner's system packages
        run: |
          sudo apt-get update
          sudo apt-get install -y git

      - name: Clone custom nuekit fork
        run: |
          git clone https://github.com/alcxpr/nue.git
          cd nue/packages/nuekit/
          bun install
          bun build
          bun link

      - name: Install dependencies
        run: bun install

      - name: Build site
        run: bunx nue build

      - name: Deploy to GitHub pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./.dist
          publish_branch: pages
          force_orphan: true
